<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>历史记录</title>

  <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/color.css">
  <link href="css/style-responsive.css" rel="stylesheet">
<style type="text/css">
	.table.table-hover thead th{
		font-size: 12px;
	}
	.pagination > li > a, .pagination > li > span{
  		border: none;
  		background-color:#fff;
  	}
  	hr{
  		margin: 0;
  	}
</style>
</head>
<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <!--<div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>-->

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="menu-list nav-active"><a href=""><i class="fa fa-laptop"></i> <span>终端信息</span></a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="2.html">终端状态</a></li>
                        <li><a href="2-2.html">地图显示</a></li>
                        <li><a href="2-3.html">日志数据</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-dashboard"></i> <span>发送平台</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="5-1.html">当前任务</a></li>
                        <li><a href="5-2.html">任务历史</a></li>
                        <li><a href="5-3.html">可视化分析</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>运维管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="3.html">消息群发</a></li>
                        <li><a href="3-2.html">远程开机</a></li>
                        <li><a href="3-3.html">终端升级</a></li>
                        <li><a href="3-4.html">远程协助</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>系统管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="4.html">用户管理</a></li>
                        <li><a href="4-2.html">绑定管理</a></li>
                        <li><a href="4-3.html">院线注册</a></li>
                    </ul>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form>
        <!--search end-->
            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a  href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/photos/user-avatar.png" alt="" />
                            <span id="uname">登录</span>
                            <span class="caret"></span>
                        </a>
                        <ul id="user" class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="4.html" disabled="true"><i class="fa fa-user"></i>用户管理</a></li>
                            <!--<li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>-->
                            <li><a disabled="true" onclick="loginOut();"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
               历史记录
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="">终端信息</a>
                </li>
                <li>
                    <a href="2.html">终端状态</a>
                </li>
                <li>
                    <a href="2-1.html">详情</a>
                </li>
                <li class="active">历史状态</li>
            </ul>
        </div>
        <!-- page heading end-->
<hr />
        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel panel-info">
                        <header class="panel-heading">历史记录
                        <!--<span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>-->
                        </header>
                        <div class="panel-body">
                        	<div class="row">
                        		<div class="col-md-3">
	                            	<a href="javascript:void(0);" onclick="jumpTo(serialId);" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp; 返回</a>
                                <a href="javascript:void(0);" class="btn btn-info" onclick="downLoad(serialId);"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp;下载日志</a>
                            </div>
                        	</div>
                        	<table id="hstatus" class="table table-hover">
                            <thead>
                            <tr>
                                <th colspan="12">接收状态</th>
                            </tr>
                            </thead>
                            <thead class="thead1">
                            <tr>
                                <th>结束时间</th>
                                <th>接收机序列号</th>
                                <th>开机时间</th>
                                <th>开始接收时间</th>
                                <th>任务编号</th>
                                <th>任务状态</th>
                                <th>任务名称</th>
                            </tr>
                            </thead>
                            <tbody ></tbody>
                           </table>
                        <hr />
                        </div>
                    <ul id="footer" class="pagination">
                        <!--<li><a href="">首页</a></li>
                        <li class="disabled"><a href="">上一页</a></li>
                        <li class="active"><a href="">1</a></li>
                        <li class="disabled"><a href="">下一页</a></li>
                        <li><a href="">尾页</a></li>-->
                    </ul>
                    </section>
                    
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>
<script src="js/baiduTemplate.js"></script>
<!--<script type="text/javascript" src="js/jquery.cookie.js">-->
<script id="t:table" type="text/html">
<@for (var i = 0; i < content.length; i++){ @>
    <tr>
        <td><@=content[i].reportime@></td>
        <td><@=content[i].serialID@></td>
        <td><@=content[i].taskStart@></td>
        <td><@=content[i].reportime@></td>
        <td><@=content[i].task_id@></td>
        <td><@=content[i].task_status@></td>
        <td><@=content[i].task_name@></td>
    </tr>
<@}@>
</script>
<!--<script id="t2:table" type="text/html">
    <@for (var i = 0; i < content.length; i++){ @>
        <tr>
            <td><@=content[i].firmware@></td>
            <td><@=content[i].signalSQ@></td>
            <td><@=content[i].channelSpeed@></td>
            <td><@=content[i].dataSpeed@></td>
            <td><@=content[i].cpu@></td>
            <td><@=content[i].mem@></td>
            <td><@=content[i].disk@></td>
        </tr>
    <@}@>
</script>-->
<script type="text/javascript">
	var bt=baidu.template;
	//first("selectp3", "selectc", "form3", 0, 0);
	/*function getdata(machineId,pageNum,size){
		  $.post('web/reciveLog/listByMachine?pageNum='+size+'&size='+size+'&machineId='
                  +machineId,null,function(result){
            var result = eval('('+result+')');
            console.log(result);
            if(result.errcode==0){
                var tableHtml=bt('t:table',result);
                $("#hstatus tbody").html("");
                $("#hstatus tbody").html(tableHtml);
                //var tableHtml2=bt('t2:table',result);
                //$("#status2 tbody").html("");
                //$("#status2 tbody").html(tableHtml2);
            }else{
                alert('请求错误！');
            }
        });
		}
	getdata(1003067,1,10);*/
</script>
<script type="text/javascript">
    var bt=baidu.template;
    var serialId;
    function downLoad(serialId){
			$.post('web/download/byMachineId?serialId='+serialId,null,function(result){
				var result = eval('('+result+')');
					//alert(result);
        console.log(result);
        if(result.errcode==0){
        	//alert('操作成功！');
        	//alert(result.url);
        	window.open(result.url);
        }else{
            alert('删除失败！错误原因：'+result.msg);
        }
			})
		}
    function jumpTo(){
			window.location.href='2-1.html?serialId='+serialId;
		}
    
    function getQueryString(name) {  
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");  
        var r = window.location.search.substr(1).match(reg);  
        if (r != null) return unescape(r[2]);
        return null; 
    }  
    function initdata(pageNum,size,serialId){
        $.post("web/reciveLog/listByMachine?pageNum="+pageNum
        			+"&size="+size+"&machineId="+serialId,null,function(result){
            console.log(result);
            var result = eval('('+result+')');
            if(result.errcode==0){
            		var tableHtml=bt('t:table',result);
                $("#hstatus tbody").html("");
                $("#hstatus tbody").html(tableHtml);
                var pagecode = getpagecode(result.totalCount,result.pageNum,result.size,serialId);
		            $("#footer").html("");
		            $("#footer").html(pagecode);
		            $("#count").text("总记录数："+result.totalCount);
            }else{
            		alert('请求错误！');
            }
        });
    }
		function getdata(){
	   	serialId = getQueryString("serialId");
	   	//alert(window.location.href);
	   	//alert(serialId);
    	//$('#load-layout').show();
	    initdata(1,10,serialId);
    }
		getdata();
    
    function getpagecode(totalNum,currentPage,pageSize,serialId){
        var totalPage=totalNum%pageSize==0?parseInt(totalNum/pageSize):parseInt(totalNum/pageSize)+1;
        //		    	alert("totalpage"+totalPage+"currentPage"+currentPage);
        var pageCode = "<ul class='pagination pagination-sm no-margin pull-right'>";
        pageCode = pageCode + "<li><a pageNum='1' onclick='initdata(1,"+pageSize+","+serialId+")'>首页</a></li>";
        if(currentPage==1){
            pageCode = pageCode + "<li class='disabled'><a href='#'>上一页</a></li>";
        }else{
            pageCode = pageCode + "<li><a pageNum='"+(currentPage-1)+"' onclick='initdata("+(currentPage-1)+","+pageSize+","+serialId+")'>上一页</a></li>";
        }
        for(var i=currentPage-2;i<=currentPage+2;i++){
            if(i<1||i>totalPage){
                continue;
            }
            if(i==currentPage){
                pageCode = pageCode + "<li class='active'><a href='#'>"+i+"</a></li>";
            }else{
                pageCode = pageCode + "<li><a pageNum='"+i+"' onclick='initdata("+i+","+pageSize+","+serialId+")'>"+i+"</a></li>";
            }
        }
        if(currentPage==totalPage){
            pageCode = pageCode + "<li class='disabled'><a href='#'>下一页</a></li>";
        }else{
            pageCode = pageCode + "<li><a pageNum='"+(currentPage+1)+"' onclick='initdata("+(currentPage+1)+","+pageSize+","+serialId+")'>下一页</a></li>";
        }
        pageCode = pageCode + "<li><a pageNum='"+totalPage+"' onclick='initdata("+totalPage+","+pageSize+","+serialId+")'>尾页</a></li>";
        pageCode = pageCode + "</ul>";
        if(totalNum == 0)
            pageCode="";
        return pageCode;
    }
</script>

</body>
</html>
